USE [master]
GO
/****** Object:  Database [evalucionesTecnicas]    Script Date: 23/10/2020 2:44:30 p. m. ******/
CREATE DATABASE [evalucionesTecnicas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'evalucionesTecnicas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS02\MSSQL\DATA\evalucionesTecnicas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'evalucionesTecnicas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS02\MSSQL\DATA\evalucionesTecnicas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [evalucionesTecnicas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [evalucionesTecnicas]
GO
USE [evalucionesTecnicas]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Activo] [bit] NULL,
	[DVH] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Backup]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Backup](
	[Id_Backup] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [nvarchar](50) NULL,
	[Nombre] [nvarchar](150) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Backup] PRIMARY KEY CLUSTERED 
(
	[Id_Backup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[ID_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[ID_EventoBitacora] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Fecha] [nvarchar](50) NOT NULL,
	[Hora] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[ID_Direccion] [int] IDENTITY(1,1) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[ID_Direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DVV]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[ID_DVV] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[ID_DVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[ID_Empresa] [int] IDENTITY(1,1) NOT NULL,
	[Empresa] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[ID_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventoBitacora]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoBitacora](
	[ID_EventoBitacora] [int] IDENTITY(1,1) NOT NULL,
	[EventoBitacora] [nvarchar](150) NULL,
 CONSTRAINT [PK_EventoBitacora] PRIMARY KEY CLUSTERED 
(
	[ID_EventoBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Examen]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[ID_Examen] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
	[Resultado] [int] NULL,
	[Aprobado] [bit] NULL,
	[ID] [int] NULL,
	[Activo] [bit] NULL,
	[ID_Categoria] [int] NULL,
	[RespuestasCorrectas] [int] NULL,
	[RespuestasIncorrectas] [int] NULL,
 CONSTRAINT [PK_Examen] PRIMARY KEY CLUSTERED 
(
	[ID_Examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamenPregunta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenPregunta](
	[ID_Pregunta] [int] NOT NULL,
	[ID_Examen] [int] NOT NULL,
	[Correcta] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamenRespuestas]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamenRespuestas](
	[Id_Examen] [int] NOT NULL,
	[Id_Pregunta] [int] NOT NULL,
	[Id_Respuesta] [int] NOT NULL,
	[Respondio] [bit] NOT NULL,
	[Correcta] [bit] NOT NULL,
	[Id_SubPregunta] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gerencia]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gerencia](
	[Id_Gerencia] [int] IDENTITY(1,1) NOT NULL,
	[Gerencia] [nvarchar](100) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Gerencia] PRIMARY KEY CLUSTERED 
(
	[Id_Gerencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jefatura]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jefatura](
	[Id_Jefatura] [int] IDENTITY(1,1) NOT NULL,
	[Jefatura] [nvarchar](100) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Jefatura] PRIMARY KEY CLUSTERED 
(
	[Id_Jefatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NivelPregunta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelPregunta](
	[ID_Nivel] [int] IDENTITY(1,1) NOT NULL,
	[Nivel] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_NivelPregunta] PRIMARY KEY CLUSTERED 
(
	[ID_Nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PDF]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDF](
	[Id] [int] NOT NULL,
	[path] [nvarchar](150) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[ID_Pregunta] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [nvarchar](max) NOT NULL,
	[Imagen] [nvarchar](100) NULL,
	[ID_Nivel] [int] NOT NULL,
	[Activo] [bit] NULL,
	[ID_TipoPregunta] [int] NULL,
	[SubPregunta] [bit] NULL,
 CONSTRAINT [PK_Pregunta] PRIMARY KEY CLUSTERED 
(
	[ID_Pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PreguntaCategoria]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaCategoria](
	[ID_Pregunta] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
 CONSTRAINT [PK_PreguntaCategoria] PRIMARY KEY CLUSTERED 
(
	[ID_Pregunta] ASC,
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PreguntaSubPregunta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaSubPregunta](
	[ID_Pregunta] [int] NOT NULL,
	[ID_SubPregunta] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[ID_Respuesta] [int] IDENTITY(1,1) NOT NULL,
	[Respuesta] [nvarchar](max) NULL,
	[Orden] [int] NULL,
	[Correcta] [bit] NULL,
	[ID_Pregunta] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Respuesta] PRIMARY KEY CLUSTERED 
(
	[ID_Respuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sector]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector](
	[Id_Sector] [int] IDENTITY(1,1) NOT NULL,
	[Sector] [nvarchar](100) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Sector] PRIMARY KEY CLUSTERED 
(
	[Id_Sector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sede]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sede](
	[Id_Sede] [int] IDENTITY(1,1) NOT NULL,
	[Sede] [nvarchar](50) NOT NULL,
	[Codigo] [nvarchar](50) NULL,
	[Empresa] [int] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Sede] PRIMARY KEY CLUSTERED 
(
	[Id_Sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubPregunta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubPregunta](
	[ID_Pregunta] [int] NULL,
	[ID_SubPregunta] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoPregunta]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPregunta](
	[ID_TipoPregunta] [int] IDENTITY(1,1) NOT NULL,
	[TipoPregunta] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoPregunta] PRIMARY KEY CLUSTERED 
(
	[ID_TipoPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[DVH] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
	[Bloqueado] [bit] NULL,
	[CantidadIntentos] [int] NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioParaExamen]    Script Date: 23/10/2020 2:44:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioParaExamen](
	[Id] [int] NOT NULL,
	[Id_Sede] [int] NOT NULL,
	[Id_Direccion] [int] NOT NULL,
	[Id_Gerencia] [int] NOT NULL,
	[Id_Jefatura] [int] NOT NULL,
	[Id_Sector] [int] NOT NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Activo]) VALUES (N'1', N'Administrador', 1)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Activo]) VALUES (N'2', N'Examen', 1)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Activo]) VALUES (N'3', N'RRHH', 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, N'4')
SET IDENTITY_INSERT [dbo].[Backup] ON 

INSERT [dbo].[Backup] ([Id_Backup], [Fecha], [Nombre], [Activo]) VALUES (1, N'20-10-2020 12 05 29', N'Backup-20-10-2020 12 05 29', 0)
INSERT [dbo].[Backup] ([Id_Backup], [Fecha], [Nombre], [Activo]) VALUES (2, N'20-10-2020 12 18 58', N'Backup-20-10-2020 12 18 58', 0)
INSERT [dbo].[Backup] ([Id_Backup], [Fecha], [Nombre], [Activo]) VALUES (3, N'20-10-2020 12 24 45', N'Backup-20-10-2020 12 24 45', 1)
SET IDENTITY_INSERT [dbo].[Backup] OFF
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_EventoBitacora], [Id], [Fecha], [Hora]) VALUES (2, 5, 1, N'20/10/2020', N'11:04')
INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_EventoBitacora], [Id], [Fecha], [Hora]) VALUES (3, 5, 1, N'20/10/2020', N'11:08')
INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_EventoBitacora], [Id], [Fecha], [Hora]) VALUES (4, 5, 1, N'20/10/2020', N'11:10')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([ID_Categoria], [Categoria], [Descripcion], [Activo]) VALUES (2, N'Ingreso Tecnico', N'Preguntas para postuilantes de la Direccion Tecnica', 1)
INSERT [dbo].[Categoria] ([ID_Categoria], [Categoria], [Descripcion], [Activo]) VALUES (3, N'Sistemas', N'Sitemas', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[DVV] ON 

INSERT [dbo].[DVV] ([ID_DVV], [Tabla], [DVV]) VALUES (1, N'Usuario', N'6B8BDC6FF7D6FA91A5C4E0A4B55E4982B90DAD2EB9369D8BF607CB217DDEB719C6940A9EAF79BEDBFBA598AD2FCDA3EFE8BF16AC8D543251613B7432D4D539F6')
INSERT [dbo].[DVV] ([ID_DVV], [Tabla], [DVV]) VALUES (2, N'Usuario', N'C5842F6A5051AB067B69B825DFE80D06141426441D1C277E20A3C90274EFB27CAD8BA9CD4F20F6AAEA7D4D7E6E8D344262B22AE1EFBBC8E475175DD4A24E4AFD')
SET IDENTITY_INSERT [dbo].[DVV] OFF
SET IDENTITY_INSERT [dbo].[EventoBitacora] ON 

INSERT [dbo].[EventoBitacora] ([ID_EventoBitacora], [EventoBitacora]) VALUES (1, N'Cuenta Bloqueada')
INSERT [dbo].[EventoBitacora] ([ID_EventoBitacora], [EventoBitacora]) VALUES (2, N'Error Critico Vertical')
INSERT [dbo].[EventoBitacora] ([ID_EventoBitacora], [EventoBitacora]) VALUES (3, N'Error Critico Horizontal')
SET IDENTITY_INSERT [dbo].[EventoBitacora] OFF
SET IDENTITY_INSERT [dbo].[NivelPregunta] ON 

INSERT [dbo].[NivelPregunta] ([ID_Nivel], [Nivel], [Activo]) VALUES (1, N'Facil', 1)
INSERT [dbo].[NivelPregunta] ([ID_Nivel], [Nivel], [Activo]) VALUES (2, N'Medio', 1)
INSERT [dbo].[NivelPregunta] ([ID_Nivel], [Nivel], [Activo]) VALUES (3, N'Dificil', 1)
SET IDENTITY_INSERT [dbo].[NivelPregunta] OFF
SET IDENTITY_INSERT [dbo].[Pregunta] ON 

INSERT [dbo].[Pregunta] ([ID_Pregunta], [Pregunta], [Imagen], [ID_Nivel], [Activo], [ID_TipoPregunta], [SubPregunta]) VALUES (1, N'En un conductor de un largo determinado L, a medida que aumenta la sección, la resistencia medida en sus extremos:', N'Sin imagen', 1, 1, 1, 0)
INSERT [dbo].[Pregunta] ([ID_Pregunta], [Pregunta], [Imagen], [ID_Nivel], [Activo], [ID_TipoPregunta], [SubPregunta]) VALUES (2, N'test', N'Sin imagen', 2, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Pregunta] OFF
INSERT [dbo].[PreguntaCategoria] ([ID_Pregunta], [ID_Categoria]) VALUES (1, 2)
INSERT [dbo].[PreguntaCategoria] ([ID_Pregunta], [ID_Categoria]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[TipoPregunta] ON 

INSERT [dbo].[TipoPregunta] ([ID_TipoPregunta], [TipoPregunta], [Activo]) VALUES (1, N'MulipleChoice', 1)
INSERT [dbo].[TipoPregunta] ([ID_TipoPregunta], [TipoPregunta], [Activo]) VALUES (3, N'MulipleChoiceCompuesto', 1)
INSERT [dbo].[TipoPregunta] ([ID_TipoPregunta], [TipoPregunta], [Activo]) VALUES (4, N'Ordenado', 1)
SET IDENTITY_INSERT [dbo].[TipoPregunta] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [UserName], [Email], [Password], [DVH], [Activo], [Bloqueado], [CantidadIntentos], [Nombre], [Apellido], [Tipo]) VALUES (1, N'andres.benitez@transener.com.ar', N'andres.benitez@transener.com.ar', N'FC78F43E1AA478259790215C1253E197095A17DE01D688E5361B8D5702455A11691C1A05F961D51F661E2A59A484121F39F44E9A1B147DD55EA7FEC6BC1C94B5', N'E8908A5C6D673A16857E799D97C09E971B1AEE80EDF5ADB98257EA7136DE22D353F809606BF5B1ACFFAB17DC365EE93D2E84E951D3809C111077714E5E0F4BBB', 1, 0, 0, N'Andres', N'Benitez', N'Interno')
INSERT [dbo].[Usuario] ([Id], [UserName], [Email], [Password], [DVH], [Activo], [Bloqueado], [CantidadIntentos], [Nombre], [Apellido], [Tipo]) VALUES (2, N'ezequiel.alonso@transba.com.ar', N'ezequiel.alonso@transba.com.ar', N'30200432B656ECB25E8906CFDEF166BDE963CB508A03A33AAA37C053226D58E921B740925E40A28CDD81D4525586D985BE7499DEE6E0110129B43D692D8DF86A', N'C57C564898C1A94DFDFDF899FD31F02D26CB03FDC85510E049EBFE9A86FE6A60F3CCB868079996DFA6B0DB65A9D05726A0461C0E13BDCA782BC75B1BE1C80452', 1, 0, 0, N'Ezequiel', N'alonso', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 23/10/2020 2:44:31 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 23/10/2020 2:44:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 23/10/2020 2:44:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 23/10/2020 2:44:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 23/10/2020 2:44:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 23/10/2020 2:44:31 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_Usuario1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_Usuario1]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_EventoBitacora] FOREIGN KEY([ID_EventoBitacora])
REFERENCES [dbo].[EventoBitacora] ([ID_EventoBitacora])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_EventoBitacora]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Id])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_Categoria]
GO
ALTER TABLE [dbo].[ExamenPregunta]  WITH CHECK ADD  CONSTRAINT [FK_ExamenPregunta_Examen] FOREIGN KEY([ID_Examen])
REFERENCES [dbo].[Examen] ([ID_Examen])
GO
ALTER TABLE [dbo].[ExamenPregunta] CHECK CONSTRAINT [FK_ExamenPregunta_Examen]
GO
ALTER TABLE [dbo].[ExamenPregunta]  WITH CHECK ADD  CONSTRAINT [FK_ExamenPregunta_Pregunta] FOREIGN KEY([ID_Pregunta])
REFERENCES [dbo].[Pregunta] ([ID_Pregunta])
GO
ALTER TABLE [dbo].[ExamenPregunta] CHECK CONSTRAINT [FK_ExamenPregunta_Pregunta]
GO
ALTER TABLE [dbo].[ExamenRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_ExamenRespuestas_Examen] FOREIGN KEY([Id_Examen])
REFERENCES [dbo].[Examen] ([ID_Examen])
GO
ALTER TABLE [dbo].[ExamenRespuestas] CHECK CONSTRAINT [FK_ExamenRespuestas_Examen]
GO
ALTER TABLE [dbo].[ExamenRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_ExamenRespuestas_Pregunta] FOREIGN KEY([Id_Pregunta])
REFERENCES [dbo].[Pregunta] ([ID_Pregunta])
GO
ALTER TABLE [dbo].[ExamenRespuestas] CHECK CONSTRAINT [FK_ExamenRespuestas_Pregunta]
GO
ALTER TABLE [dbo].[PDF]  WITH CHECK ADD  CONSTRAINT [FK_PDF_Usuario] FOREIGN KEY([Id])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[PDF] CHECK CONSTRAINT [FK_PDF_Usuario]
GO
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_NivelPregunta] FOREIGN KEY([ID_Nivel])
REFERENCES [dbo].[NivelPregunta] ([ID_Nivel])
GO
ALTER TABLE [dbo].[Pregunta] CHECK CONSTRAINT [FK_Pregunta_NivelPregunta]
GO
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_TipoPregunta] FOREIGN KEY([ID_TipoPregunta])
REFERENCES [dbo].[TipoPregunta] ([ID_TipoPregunta])
GO
ALTER TABLE [dbo].[Pregunta] CHECK CONSTRAINT [FK_Pregunta_TipoPregunta]
GO
ALTER TABLE [dbo].[PreguntaCategoria]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaCategoria_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[PreguntaCategoria] CHECK CONSTRAINT [FK_PreguntaCategoria_Categoria]
GO
ALTER TABLE [dbo].[PreguntaCategoria]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaCategoria_Pregunta] FOREIGN KEY([ID_Pregunta])
REFERENCES [dbo].[Pregunta] ([ID_Pregunta])
GO
ALTER TABLE [dbo].[PreguntaCategoria] CHECK CONSTRAINT [FK_PreguntaCategoria_Pregunta]
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Pregunta] FOREIGN KEY([ID_Pregunta])
REFERENCES [dbo].[Pregunta] ([ID_Pregunta])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Pregunta]
GO
ALTER TABLE [dbo].[Sede]  WITH CHECK ADD  CONSTRAINT [FK_Sede_Empresa] FOREIGN KEY([Empresa])
REFERENCES [dbo].[Empresa] ([ID_Empresa])
GO
ALTER TABLE [dbo].[Sede] CHECK CONSTRAINT [FK_Sede_Empresa]
GO
ALTER TABLE [dbo].[SubPregunta]  WITH CHECK ADD  CONSTRAINT [FK_SubPregunta_Pregunta] FOREIGN KEY([ID_Pregunta])
REFERENCES [dbo].[Pregunta] ([ID_Pregunta])
GO
ALTER TABLE [dbo].[SubPregunta] CHECK CONSTRAINT [FK_SubPregunta_Pregunta]
GO
ALTER TABLE [dbo].[SubPregunta]  WITH CHECK ADD  CONSTRAINT [FK_SubPregunta_Pregunta1] FOREIGN KEY([ID_SubPregunta])
REFERENCES [dbo].[Pregunta] ([ID_Pregunta])
GO
ALTER TABLE [dbo].[SubPregunta] CHECK CONSTRAINT [FK_SubPregunta_Pregunta1]
GO
ALTER TABLE [dbo].[UsuarioParaExamen]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioParaExamen_Direccion] FOREIGN KEY([Id_Direccion])
REFERENCES [dbo].[Direccion] ([ID_Direccion])
GO
ALTER TABLE [dbo].[UsuarioParaExamen] CHECK CONSTRAINT [FK_UsuarioParaExamen_Direccion]
GO
ALTER TABLE [dbo].[UsuarioParaExamen]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioParaExamen_Gerencia] FOREIGN KEY([Id_Gerencia])
REFERENCES [dbo].[Gerencia] ([Id_Gerencia])
GO
ALTER TABLE [dbo].[UsuarioParaExamen] CHECK CONSTRAINT [FK_UsuarioParaExamen_Gerencia]
GO
ALTER TABLE [dbo].[UsuarioParaExamen]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioParaExamen_Jefatura] FOREIGN KEY([Id_Jefatura])
REFERENCES [dbo].[Jefatura] ([Id_Jefatura])
GO
ALTER TABLE [dbo].[UsuarioParaExamen] CHECK CONSTRAINT [FK_UsuarioParaExamen_Jefatura]
GO
ALTER TABLE [dbo].[UsuarioParaExamen]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioParaExamen_Sector] FOREIGN KEY([Id_Sector])
REFERENCES [dbo].[Sector] ([Id_Sector])
GO
ALTER TABLE [dbo].[UsuarioParaExamen] CHECK CONSTRAINT [FK_UsuarioParaExamen_Sector]
GO
ALTER TABLE [dbo].[UsuarioParaExamen]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioParaExamen_Sede] FOREIGN KEY([Id_Sede])
REFERENCES [dbo].[Sede] ([Id_Sede])
GO
ALTER TABLE [dbo].[UsuarioParaExamen] CHECK CONSTRAINT [FK_UsuarioParaExamen_Sede]
GO
ALTER TABLE [dbo].[UsuarioParaExamen]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioParaExamen_Usuario] FOREIGN KEY([Id])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[UsuarioParaExamen] CHECK CONSTRAINT [FK_UsuarioParaExamen_Usuario]
GO
USE [master]
GO
