@model GreenElectric.Entities.MultipleChoiceCompuesto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    <link href="~/Content/modern-business.css" rel="stylesheet" />
    <div>
        <h3>¿Esta seguro de eliminar <i>    "@Html.DisplayFor(model => model.LaRespuesta)"</i>?</h3>
        <hr />
        @Html.HiddenFor(model => model.Id)
       

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="BotonVerde" />
        <input type="button" class="BotonVerde " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "MultipleChoiceCompuesto",new { id=Model.id_SubPregunta})'" />
    </div>
        }
    </div>
