@model Entities.Sector

@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

<div class="table-responsive ">

    <h4>No se puede crear o actualizar  <i>"@Html.DisplayFor(model => model.sector) "</i>.Ya existe  </h4>
    <hr />

    <div>

        <input type="button" class="BotonVerde " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "Sector")'" />
    </div>
</div>