@model Entities.Gerencia

@{
    ViewBag.Title = "ErrorPage";
    string layout = "~/Views/Shared/" + Session["Layout"] + ".cshtml";
    Layout = layout;
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">



        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="Error">Error</div>
                <p class="lead text-gray-800 mb-5">No se puede crear o actualizar la gerencia <i>"@Html.DisplayFor(model => model.gerencia) "</i>.Ya existe  </h4></p>
                <p class="text-gray-500 mb-0">Por favor colocar otro nombre</p>
                <a href="@Url.Action("Index", "gerencia")">← volver al inicio</a>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


</div>
@section scripts
{
}