@model GreenElectric.Entities.Usuario_Examen.Empresa

@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/Content/modern-business.css" rel="stylesheet" />

<div class="table-responsive ">

    <h4>No se puede crear o actualizar la empresa <i>"@Html.DisplayFor(model => model.empresa) "</i>.Ya existe  </h4>
    <hr />

    <div>

        <input type="button" class="BotonVerde " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "Empresa")'" />
    </div>
    </div>