@model GreenElectric.Entities.Orden

@{
    ViewBag.Title = "ErrorEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

<div class="table-responsive ">
    @Html.HiddenFor(Model => Model.Id)
    <h4>No se puede editar la Respuesta <i>"@Html.DisplayFor(model => model.LaRespuesta) "</i> a la pregunta <i>"@Html.DisplayFor(model => model.pregunta.LaPregunta) "</i>.Se alcanzo el maximo de Respuetas(5)  </h4>
    <hr />

    <div>

        <input type="button" class="BotonVerde " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "Orden",new { id = Model.Id })'" />
    </div>
</div>
